src/__pycache__/defines.cpython-312.pyc
src/__pycache__/draw_2D.cpython-312.pyc
src/__pycache__/draw_3D.cpython-312.pyc
src/__pycache__/menu.cpython-312.pyc
src/__pycache__/rx.cpython-312.pyc
src/__pycache__/defines.cpython-39.pyc
src/__pycache__/draw_2D.cpython-39.pyc
src/__pycache__/draw_3D.cpython-39.pyc
src/__pycache__/main.cpython-39.pyc
src/__pycache__/menu.cpython-39.pyc
src/__pycache__/rx.cpython-39.pyc
